@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("images/header-background-mobile.png");
  background-repeat: no-repeat;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 375px;
  height: 48px;
}

/* Styles */

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 1.125rem;
  font-weight: 700;
  color: rgba(96, 112, 255, 1);
}

.btn-menu-style {
  border: transparent;
  background: transparent;
}

.main-text {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: rgba(23, 43, 77, 1);
}

.main-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #344563;
}

.main-connect {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

main {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 626px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > * {
  padding-bottom: 12px;
  width: 327px;
}

.social-media > * {
  display: flex;
}

.social-media-icon {
  margin-right: 19px;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 768px) {
  main {
    background-image: url(images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 42.125rem;
  }

  body {
    background-image: url(images/header-background-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 42.125rem;
  }

  .toolbar {
    max-width: 100%;
  }
}
