@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}

.btn {
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin-top: 22px;
  gap: 10px;
  color: #396df2;
  font-size: 17px;
}

.btn:enabled {
  background-color: #fff;
  border: 1px solid #7f8cff;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

@keyframes bounce {
  0%,
  60% {
    transform: translate(0);
  }

  40% {
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 1s;
}

/* Header */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
  height: 6.5vh;
  background-color: #ffff;
}

.logo {
  font-size: 1.125rem;
  font-weight: 700;
  color: rgba(96, 112, 255, 1);
}

.btn-hamburger {
  border: transparent;
  background: transparent;
}

.toolbar-menu-desktop {
  display: none;
}

/* Headline */

.headline-container {
  background-image: url("images/header-shapes\ mobile.png"), url("images/header-background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  border-radius: 0 0 0 10%;
}

.hero-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 670px;
}

.main-text,
.about-text {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: rgba(23, 43, 77, 1);
}

.main-paragraph,
.about-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #344563;
}

.main-connect,
.about-connect {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.hero-sections > *,
.about-sections > * {
  padding-bottom: 12px;
  width: 88%;
  margin: 0 24px;
}

.social-media > * {
  display: flex;
}

.social-media-icon {
  margin-right: 19px;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

/* Works */

.cards-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px;
  gap: 88px;
  width: 375px;
  height: 2700px;
  top: 718px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translate(-10px, -5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #a7aeff;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.header-card {
  height: 80px;
}

.header-card > h1 {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
}

.header-card > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #344563;
  width: 260px;
  height: 32px;
}

.paragraph-card {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
}

.languages-card {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 214px;
  height: 24px;
}

.languages-card > li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
}

/* About */

.backgroud-about {
  background-image: url(images/about-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
  border-radius: 0 10% 0 0;
  height: 1125px;
}

.languages-flex {
  display: flex;
  justify-content: center;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 72px;
}

.active-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 303px;
  height: 72.72px;
  padding: 5% 7% 0 0;
}

.dropdown-menu {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-top: 12px;
}

.arrow-icon {
  width: 100%;
  height: auto;
  padding-top: 7px;
}

.arrow-icon-rotate {
  transform: rotate(90deg);
}

.icon-list {
  list-style: disc;
}

.about-icon-container {
  padding: 0 2%;
}

/* Contact me */

.contact-me__container {
  padding: 90px 24px;
  border-top-left-radius: 90px;
  background-image: url("images/contact\ form\ shapes-mobile.svg"), url("images/Contact\ me.png");
  background-size: contain, cover;
  background-position: right;
  background-clip: padding-box, padding-box;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  color: #fff;
}

.contact-me__title {
  padding-top: 103px;
  font-size: 40px;
  line-height: 52px;
}

.contact-me__para {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin: 12px 0 52px 0;
}

.contact-me__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-me__form--input {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  min-width: 100%;
  width: 100%;
  padding: 12px 38px 12px 15px;
  margin-bottom: 20px;
  color: #172b4d;
}

.contact-me__form--textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 30vh;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 12px 38px 12px 15px;
  margin-bottom: 22px;
}

label {
  display: none;
}

/* Media querys */

@media screen and (min-width: 768px) {
  .headline-container {
    background-image: url("images/Header-background-shapes-desktop.svg"), url("images/header-background-mobile.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, cover;
    height: 93.5vh;
  }

  html {
    font-size: 20px;
  }

  .hero-sections {
    height: 90%;
  }

  .hero-sections > * {
    width: 65vw;
  }

  .btn-hamburger {
    display: none;
  }

  .toolbar-menu-desktop {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: #344563;
    gap: 32px;
  }

  .toolbar {
    position: fixed;
    padding: 0 9%;
    height: 6.5vh;
    width: 100%;
  }

  .mobile-menu {
    display: none;
  }

  /* About desktop */

  .backgroud-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-height: 700px;
    padding: 0;
    gap: 1%;
  }

  .about-sections {
    width: 31%;
    height: 44.5%;
  }

  .about-sections > * {
    margin: 0;
    padding: 0 0 0.5% 0;
  }

  .about-btn-container {
    min-height: 72px;
  }

  .about-text {
    font-size: 2rem;
    line-height: 83%;
    padding-bottom: 2%;
  }

  .about-paragraph,
  .about-connect {
    width: 100%;
    font-size: 0.8rem;
  }

  .about-icon-container {
    padding: 0 2%;
  }

  .languages-flex {
    justify-content: flex-start;
    min-width: 47.4%;
    height: 51.5%;
  }

  .languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .active-dropdown {
    width: 100%;
    min-height: 100%;
    padding-left: 4%;
  }

  .about-languages-container {
    display: flex;
    width: 414px;
    min-height: 144px;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    min-width: 122px;
    min-height: 120px;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding-left: 3%;
    margin: 3% 0 0 3%;
  }

  /* Works desktop */

  .card-order {
    order: 1;
  }

  .cards {
    padding: 9% 0;
    width: 100vw;
    height: 2700px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    display: fle;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    padding: 16px;
    margin: 0 9%;
    gap: 12px;
    width: 83%;
    height: 496px;
    border-radius: 16px;
  }

  .cards-container-img {
    width: 55%;
    height: 100%;
  }

  .img-card {
    width: 100%;
    height: 100%;
  }

  .card-description {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 24px 0 0 24px;
    width: 50%;
    height: 97%;
  }

  .header-card {
    height: 80px;
  }

  .header-card > h1 {
    width: 295px;
    height: 70%;
  }

  .header-card > ul {
    display: flex;
    flex-direction: row;
    width: 65%;
  }

  .paragraph-card {
    padding: 3% 0;
    font-size: 0.8rem;
  }

  .languages-card {
    display: flex;
    align-items: center;
    width: 214px;
  }

  .languages-card > li {
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 0.6rem;
  }

  /* contact-me desktop */

  .contact-me__desktop-background {
    background-image: url("images/desktop-contact-form\ background\ shapes.svg"), url("images/Contact\ me.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, cover;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .contact-me__container {
    background-image: none;
    display: flex;
    justify-content: center;
    width: 55%;
    padding: 0 12%;
  }

  .contact-me__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me__btn-desktop {
    margin: 0;
    width: 31.5%;
  }

  .contact-me__form--input,
  .contact-me__form--textarea {
    border-radius: 2px;
  }

  .contact-me__form--textarea {
    height: 19vh;
  }
}

/* Mobile menu */
.mobile-menu {
  background: #6070ff;
  mix-blend-mode: multiply;
  position: fixed;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  padding: 45px 28px;
  transition: left 0.5s ease-in-out;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
}

.menu-mobile-active {
  left: 0;
}

.mobile-menu-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
}

.mobile-menu-option {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  color: #fff;
}

.menu-x {
  position: fixed;
  inset: 4% 0 0 86%;
}

/* Popup windows */
.popup-container {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgba(193, 199, 208, 0.6);
  backdrop-filter: blur(3px);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.popup-card {
  height: 713px;
  width: 93%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: auto 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.popup-img-card {
  width: 100%;
}

.popup-icon-x {
  width: 14px;
  height: 14px;
  position: relative;
  inset: -35% 0 0 92%;
}

.header-popup {
  height: 19%;
  margin-top: 5%;
}

.popup-container-btn {
  margin-top: 5%;
}

.header-popup > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 18px;
  color: #091e42;
}

.popup-btn-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.popup-btn {
  width: 100vw;
}

.popup-btn > img {
  padding-left: 10%;
}

.popup-btn > a {
  color: #396df2;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.canopy-color {
  color: #344563;
  font-weight: 500;
  line-height: 20px;
}

/* Media query Popup window */
@media screen and (min-width: 768px) {
  .popup-container {
    overflow: scroll;
    max-height: 100%;
  }

  .popup-card {
    height: 1100px;
    width: 82%;
    position: absolute;
    margin: 5% 0;
    padding: 18px;
  }

  .popup-img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .popup-image {
    width: 100%;
    height: 580px;
    margin-top: 2%;
  }

  .header-popup {
    height: 8%;
    margin-top: 2%;
  }

  .header-popup > ul {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: flex-start;
    gap: 7%;
  }

  .popup-icon-x {
    width: 14px;
    height: 14px;
    position: relative;
    inset: -29px 0 0 96%;
  }

  .popup-container-footer {
    display: flex;
    height: auto;
    gap: 2%;
    padding: 5% 0 7% 0;
  }

  .popup-btn-section {
    width: 300px;
  }

  .paragraph-popup {
    padding: 0% 0;
  }

  .popup-container-btn {
    margin: 0;
  }

  .popup-btn {
    align-items: center;
    padding: 8px 12px;
    gap: 14px;
    font-size: 13px;
  }
}

/* End */

/* Form validation email */
.alertMessage {
  color: #fff;
  background-color: #0e42a2;
  border: 1px #493dcf solid;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* End */
